.bubbles {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.bubble {
  background-color: rgb(241, 249, 255);
  color: rgb(136, 159, 218);
  opacity: 0.75;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  overflow: auto;
  transform: translate(-50%, -50%);
  transition: all 0.35s ease-out;
}

.bubble:hover {
  transform: translate(-50%, -50%) scale(1.01);
}

.bubble:active {
  transform: translate(-50%, -50%) scale(.99);
}

.bubble::-webkit-scrollbar {
  display: none;
}